html, body, #root {
  width: 100%;
  height: 100%;
  background-color: #eeefee;
}

/*.conteudoPrincipal{

}*/

.ContainerBanner{
  background-image: url("../src/img/banner1.png");
  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 320px;
  display: flex;
  align-items: center;
}

.logoBannerIndex{
  width: auto;
  height: 120px;
  
}

.td-acoes, .th-acoes{
  text-align: right;
}